/* markdown */
summary {
  font-weight: 300;
  margin-bottom: 1rem;
  cursor: pointer;

}
summary::before {
  content: "\25B6"; /* Unicode for ▶ */
}
details[open] summary::before {
  content: "\25BC"; /* Unicode for ▼ */
}

details[open] summary {
  display: block;
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

/* Navigation */
.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
}

.navbar>.container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

.navbar-link.active {
  color: #33C3F0;
}

.navbar-spacer {
  height: 3.5rem;
}

/* Code blocks */

.snippit-python,
.snippit-sh {
  position: relative;
}

code {
  cursor: pointer;
}

.language-label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0.3rem 0 0;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #E1E1E1;
  background-color: #E1E1E155;
  font-weight: 600;
  font-size: small;
  border-bottom-left-radius: 4px;

}

.error {
  text-decoration: wavy red underline;
}

/* Quotes */
quote {
  display: block;
  background-color: #E1E1E155;
  padding-left: 1rem;
  padding-right: .5rem;
  border-left: .5rem solid #222;
  border-radius: 4px;

}

/* Resource recommendations */

.recommendation {
  margin-bottom: 1rem;
}

.recommendation__header {
  padding-top: 1rem;
}

.recommendation__content {
  display: flex;
  margin: 0 0 1rem;
}

.recommendation__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommendation__img {
  min-width: 250px;
  max-width: 33.33%;
  object-fit: scale-down;
  margin-right: 1rem;
  border-radius: 5px;

}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

/* Modal */

dialog {
  padding: 0;
  width: 90vw;
  background-color: #fff;
  border: 1px solid #eee;
}

dialog>pre {
  padding: 0;
  margin: 0;
}

dialog>pre>code {
  cursor: text;
  padding: 0;
  margin: 1rem;
  font-size: 1.8rem;
}
